# Python Alıştırmalar

### Görev 1 Verilen değerlerin veri yapılarını inceleyiniz.

Pythonda veri yapılarını incelemek için type() fonskiyonu kullanılır.
Temelde integer, float, karmaşık sayılar (komplex sayılar), string, boolean, liste, sözlük, set ve tuple veri tipleri vardır.

In [2]:
x=8
y=3.2
z=8j+18
a="Hello World"
b=True
c=23<22
l=[1,2,3,4]
d={"Name":"Jake",
    "Age":27,
    "Adress":"Downtown"}
t=("Machine Learning", "Data Science")
s={"Python","Machine Learning", "Data Science"}

In [4]:
def type_of_variables():
    print("Type of x is: ", type(x))
    print("Type of y is: ", type(y))
    print("Type of z is: ", type(z))
    print("Type of a is: ", type(a))
    print("Type of b is: ", type(b))
    print("Type of c is: ", type(c))
    print("Type of l is: ", type(l))
    print("Type of d is: ", type(d))
    print("Type of t is: ", type(t))
    print("Type of s is: ", type(s))

In [5]:
type_of_variables()

Type of x is:  <class 'int'>
Type of y is:  <class 'float'>
Type of z is:  <class 'complex'>
Type of a is:  <class 'str'>
Type of b is:  <class 'bool'>
Type of c is:  <class 'bool'>
Type of l is:  <class 'list'>
Type of d is:  <class 'dict'>
Type of t is:  <class 'tuple'>
Type of s is:  <class 'set'>

### Görev 2: Verilen string ifadenin tüm harflerini büyük harfe çeviriniz Virgül ve nokta yerine space koyunuz. <br>

text="The goal is to turn data into information, and information into insight" <br>

Beklenen çıktı: <br>

["THE’,’GOAL’,’IS’,’TO’,’TURN’,’DATA’,’INTO’,’INFORMATION’,’’,’AND’,’INFORMATION’,’INTO’,’INSIGHT"]

String metodları kullanılarak işlem gerçekleştirilebilir.<br>

* büyük harfe çevirmek için _**upper()**_ 
* harfleri değiştirmek için _**replace("eski değer","yeni değer")**_
* ve son olarak her bir kelimeyi liste elemanı yapmak için _**string_adı.split()**_ <br>
fonksiyonları kullanlır

Bu görevde boşluk yerine virgül konulacak ve text ayrılacak.

In [12]:
text="The goal is to turn data into information, and information into insight"
text = text.upper()
text

'THE GOAL IS TO TURN DATA INTO INFORMATION, AND INFORMATION INTO INSIGHT'

In [ ]:
text= text.replace(",", " ")
text

'THE GOAL IS TO TURN DATA INTO INFORMATION, AND INFORMATION INTO INSIGHT'

In [14]:
result = text.split()
print(result)

['THE', 'GOAL', 'IS', 'TO', 'TURN', 'DATA', 'INTO', 'INFORMATION,', 'AND', 'INFORMATION', 'INTO', 'INSIGHT']

### Görev 3: Verilen listeye aşağıdaki adımları uygulayınız.<br>


lst = ["D","A","T","A","S","C","I","E","N","C","E"]

Adım 1: Verilen listenin eleman sayısına bakınız.<br>

Adım 2: Sıfırıncı ve onuncu İndeksteki elemanları çağırınız.<br>

Adım 3: Verilen liste üzerinden ["D", "A", "T", "A"] listesi oluşturunuz. <br>

Adım 4: Sekizinci indeksteki elemanı siliniz.<br>

Adım 5: Yeni bir eleman ekleyiniz.<br>

Adım 6: Sekizinci İndekse "N" elemanını tekrar ekleyiniz.<br>

Eleman sayısına bakmak için _**len()**_ fonksiyonu kullanılır.

In [15]:
lst = ["D","A","T","A","S","C","I","E","N","C","E"]

len(lst)

11

Sıfırıncı ve 10 uncu indeksteki elemanları çağırmak için _**print([liste_adı[indeks sayısı]])**_ işlemi yapılır. Bu adımda ikitane istendiği için araya virgül koyarak çağırılacak.

In [16]:
print(lst[0],lst[10])

D E

Sıfırıncı elemandan dördüncü elemana kadar bir liste oluşturmak için indeks aralığı ile bu elemanlara ulaşılıp bir yeni bir variable ataması yapılır.

In [17]:
lst[:4]

['D', 'A', 'T', 'A']

In [18]:
new_lst=lst[:4]
new_lst

['D', 'A', 'T', 'A']

Listeden eleman silmek için _**pop**_ methodu veya del fonksiyonu kullanılır.

In [19]:
lst.pop(8)
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E']

Listeye eleman eklemek için _**append("yeni liste elemanı")**_ yöntemi kullanılır.

In [20]:
lst.append("x")
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E', 'x']

Belirli bir indeks sayısına eleman eklemek için _**insert(indeks sayısı,"liste elemanı")**_ yöntemi kullanılır.

In [21]:
lst.insert(8,"N")
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E', 'x']

### Görev 4-: Verilen sözlük yapısına aşağıdaki adımları uygulayınız.<br>

dict = {'Christian': ["America",18], <br>
'Daisy':["England",12], <br>
'Antonio':["Spain",22], 'Dante':["Italy",25]} <br>

Adım 1: Key değerlerine erişiniz.<br>

Adım 2: Value'lara erişiniz.<br>

Adım 3: Daisy key'ine ait 12 değerini 13 olarak güncelleyiniz.<br>

Adım 4: Key değeri Ahmet value değeri [Turkey,24] olan yeni bir değer ekleyiniz.<br>

Adım 5: Antonio'yu dictionary'den siliniz.<br>

In [ ]:
my_dict = {'Christian': ["America",18],
'Daisy':["England",12],
'Antonio':["Spain",22], 'Dante':["Italy",25]}

In [ ]:
my_dict.keys()

dict_keys(['Christian', 'Daisy', 'Antonio', 'Dante'])

In [ ]:
my_dict.values()

dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])

In [ ]:
my_dict["Daisy"]=["England", 13]
my_dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25]}

In [ ]:
my_dict["Ahmet"]=["Turkey",24]
my_dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

In [ ]:
my_dict.pop("Antonio")
my_dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

### Görev 5: Argüman olarak bir liste alan, listenin içerisindeki tek ve çift sayıları ayrı listelere atayan ve bu listeleri return eden fonksiyon yazınız.

In [ ]:
l=[2,13,18,93,22]


def func(x:list):
    even_list=[]
    odd_list=[]
    for i in x:
        if i%2==0:
            even_list.append(i)
        else:
            odd_list.append(i)
    print(even_list,odd_list)

In [31]:
func(l)

[2, 18, 22] [13, 93]

### Görev 6: Aşağıda verilen listede mühendislik ve tıp fakülterinde dereceye giren öğrencilerin isimleri bulunmaktadır. Sırasıyla İlk üç öğrenci mühendislik fakültesinin başarı sırasını temsil ederken son üç öğrenci de tıp fakültesi öğrenci sırasına aittir. Enumerate kullanarak öğrenci derecelerini fakülte özelinde yazdırınız.




Beklenen çıktı:<br>


Mühendislik Fakültesi 1 . öğrenci: Ali <br>

Mühendislik Fakültesi 2 . öğrenci: Veli<br>

Mühendislik Fakültesi 3 . öğrenci: Ayşe <br>

Tıp Fakültesi 1 . öğrenci: Talat <br>

Tıp Fakültesi 2 . öğrenci: Zeynep <br>

Tıp Fakültesi 3 . öğrenci: Ece <br>

In [ ]:
öğrenciler = ["Ali","Veli","Ayşe","Talat","Zeynep","Ece"]

for i, öğrenci in enumerate(öğrenciler[:3], 1):
    print(f"Mühendislik Fakültesi {i} . öğrenci: {öğrenci}")

for i, öğrenci in enumerate(öğrenciler[3:], 1):
    print(f"Tıp Fakültesi {i} . öğrenci: {öğrenci}")

Mühendislik Fakültesi 1 . öğrenci: Ali
Mühendislik Fakültesi 2 . öğrenci: Veli
Mühendislik Fakültesi 3 . öğrenci: Ayşe
Tıp Fakültesi 1 . öğrenci: Talat
Tıp Fakültesi 2 . öğrenci: Zeynep
Tıp Fakültesi 3 . öğrenci: Ece

# Görev 7: Zip kullanarak ders bilgilerini bastırma

In [ ]:

ders_kodu = ["CMP1005","PSY1001","HUK1005","SEN2204"]
kredi = [3,4,2,4]
kontenjan = [30,75,150,25]

for kod, krd, kont in zip(ders_kodu, kredi, kontenjan):
    print(f"Kredisi {krd} olan {kod} kodlu dersin kontenjanı {kont} kişidir.")

Kredisi 3 olan CMP1005 kodlu dersin kontenjanı 30 kişidir.
Kredisi 4 olan PSY1001 kodlu dersin kontenjanı 75 kişidir.
Kredisi 2 olan HUK1005 kodlu dersin kontenjanı 150 kişidir.
Kredisi 4 olan SEN2204 kodlu dersin kontenjanı 25 kişidir.

In [51]:
# Görev 8: Küme kapsama kontrolü ve farkların yazdırılması
def kume_kontrol(kume1, kume2):
    if kume1.issuperset(kume2):
        print(kume1.intersection(kume2))
    else:
        print(kume2.difference(kume1))

kume1 = set(["data", "python"])
kume2 = set(["data", "function", "qcut", "lambda", "python", "miuul"])

kume_kontrol(kume1, kume2)

{'miuul', 'qcut', 'function', 'lambda'}